{{/* Breadcrumb Schema Markup */}}
{{ if not .IsHome }}
{{ $pageTitle := partial "page-title.html" . }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "@id": {{ printf "%s#breadcrumb" .Permalink | jsonify | safeJS }},
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": {{ .Site.BaseURL | jsonify | safeJS }}
    }
    {{ if .Parent }}
    ,{
      "@type": "ListItem",
      "position": 2,
      "name": {{ .Parent.Title | jsonify | safeJS }},
      "item": {{ .Parent.Permalink | jsonify | safeJS }}
    }
    {{ end }}
    ,{
      "@type": "ListItem",
      "position": {{ if .Parent }}3{{ else }}2{{ end }},
      "name": {{ $pageTitle | jsonify | safeJS }},
      "item": {{ .Permalink | jsonify | safeJS }}
    }
  ]
}
</script>
{{ end }}
