{{/* Website Schema Markup */}}
{{ $pageTitle := partial "page-title.html" . }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "@id": {{ printf "%s#website" .Site.BaseURL | jsonify | safeJS }},
  "name": {{ .Site.Title | jsonify | safeJS }},
  "url": {{ .Site.BaseURL | jsonify | safeJS }},
  "description": {{ .Site.Params.description | jsonify | safeJS }},
  "publisher": {
    "@id": {{ printf "%s#organization" .Site.BaseURL | jsonify | safeJS }}
  },
  "about": {
    "@id": {{ printf "%s#localbusiness" .Site.BaseURL | jsonify | safeJS }}
  },
  "inLanguage": "en-US",
  "hasPart": [
    {{- range $index, $item := .Site.Menus.main }}
    {{- if $index }},{{ end }}
    {
      "@type": "SiteNavigationElement",
      "name": {{ $item.Name | jsonify | safeJS }},
      "url": {{ $item.URL | absURL | jsonify | safeJS }}
    }
    {{- end }},
    {
      "@type": "SiteNavigationElement",
      "name": "Contact",
      "url": {{ "/contact/" | absURL | jsonify | safeJS }}
    }
  ],
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": {{ printf "%ssearch/?q={search_term_string}" .Site.BaseURL | jsonify | safeJS }}
    },
    "query-input": "required name=search_term_string"
  }
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {{ cond .IsHome "WebPage" (cond .IsSection "CollectionPage" "WebPage") | jsonify | safeJS }},
  "@id": {{ printf "%s#webpage" .Permalink | jsonify | safeJS }},
  "url": {{ .Permalink | jsonify | safeJS }},
  "name": {{ cond .IsHome .Site.Title $pageTitle | jsonify | safeJS }},
  "description": {{ with .Description }}{{ . | jsonify | safeJS }}{{ else }}{{ .Summary | plainify | truncate 160 | jsonify | safeJS }}{{ end }},
  "isPartOf": {
    "@id": {{ printf "%s#website" .Site.BaseURL | jsonify | safeJS }}
  },
  "about": {
    "@id": {{ printf "%s#localbusiness" .Site.BaseURL | jsonify | safeJS }}
  },
  "publisher": {
    "@id": {{ printf "%s#organization" .Site.BaseURL | jsonify | safeJS }}
  },
  "inLanguage": "en-US"{{ if not .Lastmod.IsZero }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | jsonify | safeJS }}{{ end }}
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": {{ printf "%s#organization" .Site.BaseURL | jsonify | safeJS }},
  "name": {{ .Site.Params.businessName | jsonify | safeJS }},
  "url": {{ .Site.BaseURL | jsonify | safeJS }},
  "logo": {
    "@type": "ImageObject",
    "url": {{ "images/lbs-logo.jpg" | absURL | jsonify | safeJS }}
  },
  "image": {{ "images/lbs-logo.jpg" | absURL | jsonify | safeJS }},
  "description": {{ .Site.Params.description | jsonify | safeJS }},
  "email": {{ .Site.Params.businessEmail | jsonify | safeJS }},
  "telephone": {{ .Site.Params.businessPhone | jsonify | safeJS }},
  "sameAs": {{ .Site.Params.sameAs | jsonify | safeJS }},
  "knowsAbout": {{ .Site.Params.knowsAbout | jsonify | safeJS }},
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": {{ .Site.Params.businessPhone | jsonify | safeJS }},
    "contactType": "sales and customer support",
    "email": {{ .Site.Params.businessEmail | jsonify | safeJS }},
    "areaServed": "US",
    "availableLanguage": "en"
  }
}
</script>
