{{/* Blog Post Schema Markup */}}
{{ if .IsPage }}
{{ if eq .Section "blog" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}",
  "image": "{{ with .Params.image }}{{ . }}{{ else }}{{ .Site.BaseURL }}images/lbs-logo.jpg{{ end }}",
  "author": {
    "@type": "Person",
    "name": "{{ with .Params.author }}{{ . }}{{ else }}Jed Wilson{{ end }}",
    "url": "{{ .Site.BaseURL }}about/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Local Business Search",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}images/lbs-logo.jpg"
    }
  },
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "keywords": "{{ delimit .Params.tags ", " }}",
  "articleSection": "{{ .Params.category }}",
  "wordCount": {{ .WordCount }},
  "inLanguage": "en-US"
}
</script>
{{ end }}
{{ end }}
